.chat_container {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-image: linear-gradient( #fab2ff, #1904e5);
}
.chat_list {
    width: 30%;
}
.chat_conversation {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px);
}
.chat_body {
    flex: 1;
    overflow-y: auto;
display: inline-block;
    overflow: hidden;
}
.chat_arrange {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 5px 0;
    display: inline-block;
    width: 100%;
    overflow: auto;
}
.message_container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    width: fit-content;
    margin-bottom: 20px;
}
#me.message_container {
    margin-left: auto;
}
.message_content {
    background-color: #040c31;
    border-radius: 10px;
    border: 1px solid black;
    padding: 7px 10px;
}
.message_container h4, .message_container p {
    margin:0;
}
.message_container .author {
    font-size: 15px;
}
.message_container .message {
    font-size: 13px;
    margin-left: 10px;
    word-wrap: break-word;
}
.message_container .time {
    font-size: 10px;
}
.list_constainer {
    height:calc(100vh - 200px );
    overflowY: auto;
}
.chat_conversation, .chat_list {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background: rgba(0,0,0,.5);
    color: white;
}
.user-card-list_container {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    transition: background-color 0.5s;

}
.user-card-list_container:hover {
    background: grey;
}
.img_user_container {
    width: 50px;
    min-width: 50px;
}
.img_user_container .img_user {
    height: 100%;
    width: 100%;
}
.user-card-list_container h1 {
    font-size: 15px;
    margin: 0 0 5px;
}
.information_user_container {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.user-card-list_container:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 10px;
}
