.forgot-password_container,.login_container, .register_container, .home_container {
    display: flex;
    justify-content: center;
    height: 100%;
    flex: 1 1 auto;
    align-items: center;
    background-image: linear-gradient( #fab2ff, #1904e5);
    z-index: 1;
}
.forgot-password_container form, .login_container form, .register_container form {
    background: rgba(0,0,0,.5);
    color: white;
    border-radius: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px 0;
}
.forgot-password_container h1, .login_container h1, .register_container h1 {
    margin: 0 0 30px ;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    border-bottom: 3px black;
    border-bottom-style: outset;
}

.forgot-password_input, .login_input, .register_input {
    width: 80%;
    border: 1px solid black ;
    border-radius: 5px ;
    display: flex;
    height: 40px;
    margin-bottom: 20px;
    align-items: center;
    background: rgba(0,0,0,.5);
}
.login_input label, .forgot-password_input label, .register_input label {
    color: white;
    display: flex;
    justify-content: center;
    background: transparent;
    width: 30px;
}
.login_input input, .forgot-password_input input, .register_input input {
    color: white;
    background: transparent;
    border: 0;
    outline: 0;
    height: 100%;
    width: 100%;
}
.login_input input::-ms-reveal, .forgot-password_input in::-ms-reveal, .register_input input::-ms-reveal {
    filter: invert(100%);
}

.login_forgot-password {
    width: 80%;
    text-align: right;
    align-items:end;
    margin-bottom: 20px;
}
.login_forgot-password a {
    color: white;
    text-decoration: unset;
}
.forgot-password_phone {
    width: 80%;
    margin-bottom: 20px;
}
.login_login-button, .forgot-password_button, .register_save-button {
    width: 70%;
    height: 30px;
    background: #fab2ff;
    color: black;
    border-radius: 5px;
    border: unset;
    transition: all .5s;
}
.login_login-button:hover, .forgot-password_button:hover, .register_save-button:hover {
    width: 75%;
    height: 35px;
    background: #ffa600da;
    color: black;
    border-radius: 10px;
}

.background-image-login {
    height: calc(100vh - 50px);
    width: 100%;
    position: absolute;
    z-index: -1;
    
}

.background-image-register {
    height: calc(100vh - 50px);
    width: 100%;
    position: absolute;
    z-index: -1;
}

.background-image-home {
    height: calc(100vh - 50px);
    width: 100%;
    position: absolute;
    z-index: -1;
}

.image-center-home {
    height: 50%;
    width: 50%;
    position: absolute;
    bottom: -25px;
}

.home_container-title {
    position: absolute;
    top: 200px;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.home_container-text {
    position: absolute;
    top: 350px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    text-shadow: 1px 1px 2px black;
    align-items: center;
}

.home_container-text p {
    margin: 0 10px;
    font-size: 20px ;
}

.home_container-text a {
    color: white;
    text-decoration: unset;
}

.home_container-text span {
    color:white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 2px black;
    font-style: italic;
}

.home_container-text span:hover {
    transition: all .5s;
    text-shadow:  1px 1px 2px black, 0 0 1em black;
    transform: scale(1.1);

}

@media screen and (max-width: 768px) {
    .background-image-login {
        transform: translateY(200px);
    }
    .background-image-register {
        transform: translateY(200px);
    }

}

@media screen and (max-width: 1024px) {
    .register_container form{
        flex-direction: column;
    }

    .register_input {
        height: 30px;
    }
}

@media screen and (max-width:600px) {
    .background-image-register {
        transform: translateY(280px);
    }
}

