.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.App nav {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  padding: 20px 30px;
  background: antiquewhite;
  position: relative;
}
.App nav a {
  color: black;
  text-decoration: unset;
}
.App nav a:not(:last-child) {
  margin-right: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-link {
  color: #61dafb;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}