.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.App nav {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  padding: 20px 30px;
  background-image: linear-gradient(#ffa500a8, #fab2ff);
  position: relative;
}
.App nav a {
  color: black;
  text-decoration: unset;
}
